* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

nav {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 2rem;

  margin-top: 2rem;
  justify-content: space-between;
}
nav > a {
  text-decoration: none;
}
/* start showing products */
.product-list-main-container {
  display: grid;
  grid-template-columns: 1fr 3fr;

  width: 980px;
  margin-left: auto;
  margin-right: auto;
}
.category-container-left {
  width: 200px;
  height: 600px;
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}

.btn-swimwear-sportwear {
  display: flex;
  flex-direction: row;
  background-color: aliceblue;
  justify-content: center;
  align-items: center;
  width: 215px;
  height: 36px;

  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 30px;
  position: relative;
}
.swimwear {
  padding: 20px;
  border-radius: 20px;
}
.swimwear > a {
  position: absolute;
  left: -2px;
  top: 0;
  width: 100px;
  height: 36px;
  background-color: #fc6d3a;
  border-radius: 23px 23px 23px 23px;
  padding: 5px 15px 5px 15px;
  text-decoration: none;
  color: black;
}
.Sportwear {
  padding: 20px;
  border-radius: 20px;
}
.Sportwear > a {
  position: absolute;
  left: 110px;
  top: 0;
  width: 100px;
  height: 36px;

  border-radius: 23px 23px 23px 23px;
  padding: 5px 15px 5px 15px;
  text-decoration: none;
  color: rgb(0, 0, 0);
}
.Sportwear > a:hover {
  position: absolute;
  left: 110px;
  top: 0;
  width: 100px;
  height: 36px;
  background-color: #ecd927;
  border-radius: 23px 23px 23px 23px;
  padding: 5px 15px 5px 35px;
  text-decoration: none;
  color: rgb(0, 0, 0);
}
.category-list > ul > li {
  list-style: none;
  line-height: 1.9em;
}
.third-container-trending {
  /*  width: 1300px;
  height: 500px; */
  margin: 0 auto;
  /* margin-left: auto;
  margin-right: auto; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 90px;
  column-gap: 50px;
}
.bikini {
  border-radius: 1rem;
  background-color: #0b25b7;
  background: rgba(217, 217, 217, 0.1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 5rem;
}
.bikini h2 {
  margin-bottom: 0.5em;
}
.bikini p {
  margin-bottom: 20px;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  max-width: 100%;
}
.yellow-btn {
  display: flex;
  justify-content: end;
}
.yellow-btn > a {
  text-decoration: none;

  padding: 20px;
  border-radius: 15%;
  background-color: #ffce00;
  color: #000000;
  font-weight: 900;
  font-size: larger;
  font-style: bold;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.color-box {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
}
.colors-right-1 {
  width: 28px;
  height: 28px;
  background-color: rgb(255, 0, 0);
  border: 1px soild rgba(0, 0, 0, 0.685);
  border-radius: 50%;
}
.colors-right-2 {
  width: 28px;
  height: 28px;
  background-color: rgb(165, 163, 8);
  border: 1px soild rgba(0, 0, 0, 0.685);
  border-radius: 50%;
}
.colors-right-3 {
  width: 28px;
  height: 28px;
  background-color: rgba(53, 184, 58, 0.866);
  border: 1px soild rgba(0, 0, 0, 0.685);
  border-radius: 50%;
}
.colors-right-4 {
  width: 28px;
  height: 28px;
  background-color: rgba(150, 30, 152, 0.866);
  border: 1px soild rgba(0, 0, 0, 0.685);
  border-radius: 50%;
}
.colors-right-5 {
  width: 28px;
  height: 28px;
  background-color: rgba(11, 15, 131, 0.866);
  border: 1px soild rgba(0, 0, 0, 0.685);
  border-radius: 50%;
}
.price {
  display: flex;
  align-items: right;
  justify-content: end;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 152.69%;
}
